files:
  "/etc/init.d/fennel":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      #
      # initd for the fennel app
      # /etc/init.d/fennel

      pidFile=fennel.pid
      logFile=/var/log/fennel_forever.log
      sourceDir=/var/app/current
      rootPath=/var/app/current
      nodeApp=server.js

      start() {
         echo "Starting $nodeApp"

         # This is found in the library referenced at the top of the script
         # start_daemon

         forever start --sourceDir=$sourceDir -p $rootPath --pidFile $pidFile -l $logFile -a -d $nodeApp
         RETVAL=$?
      }

      restart() {
         echo -n "Restarting $nodeApp"
         forever restart $nodeApp
         RETVAL=$?
      }

      stop() {
         echo -n "Shutting down $nodeApp"
         forever stop $nodeApp
         RETVAL=$?
      }

      status() {
         echo -n "Status $nodeApp"
         forever list
         RETVAL=$?
      }

      case "$1" in
         start)
              start
              ;;
          stop)
              stop
              ;;
         status)
              status
             ;;
         restart)
          restart
              ;;
          *)
             echo "Usage:  {start|stop|status|restart}"
             exit 1
              ;;
      esac
      exit $RETVAL